<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
	<%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
<body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>

<!-- Intercom -->
    <script>
   /* Replace 'APP_ID' with your app ID */
   window.intercomSettings = {
    app_id: 'eze5yygu'
};
   /* Replace 'APP_ID' with your app ID */
   (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function")    {ic('reattach_activator');ic('update',intercomSettings);}else{var    d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args)   {i.q.push(args)};w.Intercom=i;function l(){var   s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/eze5yygu';var x=d.getElementsByTagName('script')   [0];x.parentNode.insertBefore(s,x);}if(w.attachEvent)   {w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
</script>  
  </body>
</html>